/*
http://www.guigarage.com/2014/10/integrate-custom-fonts-javafx-application-using-css/
Note update at bottom of page.
*/

@font-face {
    src: url('SourceCodePro-Regular.ttf');
}
@font-face {
    src: url('SourceCodePro-Medium.ttf');
}
@font-face {
    src: url('SourceCodePro-Semibold.ttf');
}
@font-face {
    src: url('Roboto-Regular.ttf');
}
@font-face {
    src: url('RobotoMono-Regular.ttf');
}
@font-face {
    src: url('OpenSans-Regular.ttf');
}
