@font-face {
    font-family: 'Source Code Pro Regular';
    src: url('../fonts/SourceCodePro-Regular.ttf');
}
@font-face {
    font-family: 'Source Code Pro Medium';
    src: url('../fonts/SourceCodePro-Medium.ttf');
}
@font-face {
    font-family: 'Source Code Pro Bold';
    src: url('../fonts/SourceCodePro-Bold.ttf');
}
@font-face {
    font-family: 'Source Code Pro Semibold';
    src: url('../fonts/SourceCodePro-Semibold.ttf');
}
