/* control the labels of the line number factory function */
.lineno {
    -fx-font-size: 16 "Source Code Pro Medium";
    -fx-text-fill: #aaa;
    -fx-background-color: transparent;
    -fx-padding: 0 30 0 15;
}

.styled-text-area .caret {
    -fx-stroke: BLUE;
    -fx-stroke-width: 3;
}
